/home/adrian/alcohol-afbraak/images
/home/adrian/alcohol-afbraak/movies
/home/adrian/alcohol-afbraak/default.ini
/home/adrian/alcohol-afbraak/prototype.ini
/home/wesley/project/pypovray/images
/home/wesley/project/pypovray/movies
/home/wesley/project/pypovray/default.ini
/home/wesley/project/pypovray/prototype.ini